root = true

[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cs]
file_header_template = Copyright (c) 2025 MeiHasCrashed\nSPDX-License-Identifier: AGPL-3.0-or-later